[submodule "static/samples-scripts"]
	path = static/samples-scripts
	url = https://github.com/hellupline/samples-scripts
	branch = master
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
	branch = master
